# config
backend_code/my-javalin-project/src/main/resources/config.properties

# Maven build output
backend_code/my-javalin-project/target/

# IntelliJ files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db